:root {
  --pal-darkblue: royalblue;
  --pal-lightblue: dodgerblue;
  --pal-teal: lightseagreen;
  --pal-beige: beige;
  --pal-gray: #444;
}

.nav-button {
  padding: 8px;
  background-color: var(--pal-lightblue);
  border-radius: 5px;
  border-color: var(--pal-lightblue);
  max-width: 50%;
  text-decoration-line: none;
  align-self: flex-start;
  color: white;
}

.nav-button:hover {
  background-color: var(--pal-darkblue);
}

.App h1 {
  width: 100%;
  color: white;
  background-color: var(--pal-lightblue);
  padding-top: 10px;
}

.App h1::after {
  display: block;
  content: "";
  width: 100%;
  background-color: var(--pal-darkblue);
  height: 0.5em;
  margin-top: 10px;
}

.App {
  text-align: center;
  background-color: var(--pal-beige);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grooming-calendar {
  width: 60vw;

  margin-left: auto;
  margin-right: auto;
}

.grooming-calendar * {
  box-sizing: border-box;
}

.grooming-calendar ul {
  list-style-type: none;
}

.grooming-calendar .month {
  padding: 15px;
  width: 100%;
  background: var(--pal-darkblue);
  text-align: center;

  border-radius: 5px 5px 0 0;
}

.grooming-calendar .month ul {
  margin: 0;
  padding: 0;
}

.grooming-calendar .month ul li {
  color: white;
  font-size: xxx-large;
  letter-spacing: 1px;
}

.grooming-calendar .month .prev {
  float: left;
  padding-top: 10px;
}

.grooming-calendar .month .next {
  float: right;
  padding-top: 10px;
}

.grooming-calendar .weekdays {
  margin: 0;
  padding: 10px;
  background-color: var(--pal-gray);
  text-align: left;
}

.grooming-calendar .weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;

  font-weight: bold;
  margin: 0.2vh;
}

.grooming-calendar .days {
  padding: 10px;
  background: var(--pal-darkblue);
  margin: 0;
  text-align: left;

  border-radius: 0 0 5px 5px;

  height: 60vh;
}

.grooming-calendar .days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 8.6vh;
  text-align: center;
  font-size: larger;

  color: white;
  background-color: var(--pal-lightblue);
  margin: 0.2vh;
  border-radius: 5px;
}

.grooming-calendar .days li svg * {
  stroke: white;
  fill: white;
}

.grooming-calendar .days li.active {
  background-color: var(--pal-teal);
  color: black;
}

.grooming-calendar .days li.active svg * {
  stroke: black;
  fill: black;
}

.grooming-calendar .days li svg.done * {
  stroke: green;
  fill: green;
}

.grooming-calendar .days li svg.missed * {
  stroke: darkred;
  fill: darkred;
}

.practice-menu p {
  font-size: 1.5em;
}

.practice-menu .task {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.practice-menu svg {
  width: 2em;
  margin: 1rem;
}

.practice-menu svg.done {
  stroke: green;
  fill: green;
}

.practice .top-items {
  display: flex;
  max-height: 33vh;
  justify-content: center;
}

.practice .top-items > * {
  width: 20vw;
}

.practice .task-complete {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.practice .task-complete * {
  margin: 2vw;
}

.dog-image {
  max-width: 33vw;
  height: auto;
}
.dog-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.dog-selector > * {
  margin-right: 5vw;
}

.dog-selector .explanation {
  width: 20vw;
  overflow-wrap: break-word;
}

.dog-selector .correct {
  color: green;
}

.game-status {
  font-size: 2rem;
}

.game-status .correct {
  color: green;
}

.game-status .incorrect {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
